#body{
    width: 13%;
    background-color: #0F172A;
    height: 100vh;
    color: aliceblue;
    padding: 1em;
}
.sideBarOptions{
    display: flex;
    align-items: center;
    width: 70%;
    gap: 1em;
}